#brand {
   display: inline-block;
}

#brand img {
   width: 6vh;
   height: 6vh; 
}

#brand > div {
    display: inline-block;
}



#headname {
    height: 5vh;
}

#brand h1 {
   font-size: 2em;
   margin: 0 0 2vh 2vw;
}

nav {
    padding: 0 1em;
}

#nav-menu {
   display: inline-block;
   float: right;
} 

#nav-menu ul {
    list-style-type: none;
    text-align: center;
}

#nav-menu ul li{
    display: inline-block;
    margin-left: 2em;   
}

#nav-menu ul li a{
    color: black;
    text-decoration: none;
}

#backgroundimage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;

}

#backgroundimage img{
    width: 100%;
        
}

#content p {
    width: 45%;
}

#content {
    margin-left: 3em;
}

#content div {
    margin: 2em 3em;
}

#morebtn {
    background-color: white;
    color: black;
    border: 2px solid#12c5db;
    border-radius: 5px; 
    text-align: center;
    font-size: 16px;
    padding: 15px 32px;
    text-decoration: none;
}

#morebtn:hover {
    background-color: #12c5db;
    color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    width: 800px;
    text-align: center;
}

.card {
    position: absolute;
    top: 15vh;
    left: 15vw;
    border-radius: 10px;
    overflow: hidden;
    background-color: lightcyan;
}


.card #caption{
    font-style: italic;
    font-size: 18px;
    padding-bottom: 3em;
    color: #14b7cc;
    
}

.card #profile {
    padding: 3em 2em;
}

.owerwork #row1 {
    display: inline-block;
}
#row2 {
    display: block;
}

img {
    width: 200px;
    height: 200px;
}
